doctype 5
html
  head
    title=title
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/bootstrap.css')

    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/knockout-2.2.1.js')
    script(type='text/javascript', src='/js/main.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
  body
    block content

